### Timeline Chart

Notebook for producing timeline chart for explaining the temporal format of features used for analysis.

In [1]:
%load_ext autoreload
%autoreload 2

import datetime as dt
import pandas as pd
import numpy as np
import altair as alt
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

from matplotlib.collections import PolyCollection

In [2]:
INPUT_DATA_PATH = "https://raw.githubusercontent.com/MforMubashshera/forecast-water-quality/development-nms/data/"

In [3]:
tp_start = '2012-02-15'
tp_end = '2012-02-26 00:00:00'
df_viz = pd.DataFrame()

In [4]:
label = 'colifast_GA'
df = pd.read_csv(
    INPUT_DATA_PATH + label + '.csv',
    parse_dates=['timestamp']
)
display(df)

timedelta = 15
df_tmp = df[(df['timestamp'] >= tp_start) & (df['timestamp'] <= tp_end)].copy()
for i in range(df_tmp.shape[0]):
    df_viz = df_viz.append(
        {
            'from': df_tmp.iloc[i, 0] - pd.Timedelta(minutes=timedelta),
            'to': df_tmp.iloc[i, 0] + pd.Timedelta(minutes=timedelta),
            'feature': label,
            'type': ''
        },
        ignore_index=True
    )

               timestamp colifast_GA
0    2012-02-16 16:09:00         <50
1    2012-02-17 02:03:00         <50
2    2012-02-17 16:03:00         200
3    2012-02-18 02:03:00          50
4    2012-02-18 16:03:00         200
...                  ...         ...
5182 2019-12-29 20:11:00         <50
5183 2019-12-30 10:11:00          50
5184 2019-12-30 20:11:00         100
5185 2019-12-31 10:11:00         100
5186 2019-12-31 20:11:00         <50

[5187 rows x 2 columns]

In [5]:
label = 'colifast_LAE'
df = pd.read_csv(
    INPUT_DATA_PATH + label + '.csv',
    parse_dates=['timestamp']
)
display(df)

timedelta = 15
df_tmp = df[(df['timestamp'] >= tp_start) & (df['timestamp'] <= tp_end)].copy()
for i in range(df_tmp.shape[0]):
    df_viz = df_viz.append(
        {
            'from': df_tmp.iloc[i, 0] - pd.Timedelta(minutes=timedelta),
            'to': df_tmp.iloc[i, 0] + pd.Timedelta(minutes=timedelta),
            'feature': label,
            'type': ''
        },
        ignore_index=True
    )

               timestamp colifast_LAE
0    2012-01-01 09:43:00           50
1    2012-01-01 18:43:00          <50
2    2012-01-01 19:43:00          100
3    2012-01-02 09:43:00           50
4    2012-01-02 19:43:00          100
...                  ...          ...
5550 2019-12-29 23:55:00          <50
5551 2019-12-30 13:55:00          <50
5552 2019-12-30 23:55:00          <50
5553 2019-12-31 13:55:00          <50
5554 2019-12-31 23:55:00           50

[5555 rows x 2 columns]

In [6]:
label = 'coliforms_GA'
df = pd.read_csv(
    INPUT_DATA_PATH + label + '.csv',
    parse_dates=['timestamp']
)
display(df)

timedelta = 15
df_tmp = df[(df['timestamp'] >= tp_start) & (df['timestamp'] <= tp_end)].copy()
for i in range(df_tmp.shape[0]):
    df_viz = df_viz.append(
        {
            'from': df_tmp.iloc[i, 0] - pd.Timedelta(minutes=timedelta),
            'to': df_tmp.iloc[i, 0] + pd.Timedelta(minutes=timedelta),
            'feature': label,
            'type': ''
        },
        ignore_index=True
    )

              timestamp  coliforms_GA
0   2012-01-02 10:44:00           770
1   2012-01-04 10:32:00          1400
2   2012-01-05 09:45:00          1500
3   2012-01-09 10:00:00           340
4   2012-01-11 14:27:00          3400
..                  ...           ...
936 2019-12-16 11:12:00           760
937 2019-12-18 11:00:00          1300
938 2019-12-23 10:15:00           380
939 2019-12-26 12:20:00           310
940 2019-12-30 12:20:00           200

[941 rows x 2 columns]

In [7]:
label = 'coliforms_LAE'
df = pd.read_csv(
    INPUT_DATA_PATH + label + '.csv',
    parse_dates=['timestamp']
)
display(df)

timedelta = 15
df_tmp = df[(df['timestamp'] >= tp_start) & (df['timestamp'] <= tp_end)].copy()
for i in range(df_tmp.shape[0]):
    df_viz = df_viz.append(
        {
            'from': df_tmp.iloc[i, 0] - pd.Timedelta(minutes=timedelta),
            'to': df_tmp.iloc[i, 0] + pd.Timedelta(minutes=timedelta),
            'feature': label,
            'type': ''
        },
        ignore_index=True
    )

               timestamp  coliforms_LAE
0    2012-01-02 09:30:00            650
1    2012-01-04 08:50:00            780
2    2012-01-05 07:00:00           1500
3    2012-01-09 08:10:00            230
4    2012-01-11 08:15:00           1800
...                  ...            ...
1331 2019-12-20 09:08:00           1400
1332 2019-12-23 08:45:00            400
1333 2019-12-26 09:26:00            310
1334 2019-12-27 09:07:00            390
1335 2019-12-30 09:23:00            340

[1336 rows x 2 columns]

In [8]:
label = 'ecoli_GA'
df = pd.read_csv(
    INPUT_DATA_PATH + label + '.csv',
    parse_dates=['timestamp']
)
display(df)

timedelta = 15
df_tmp = df[(df['timestamp'] >= tp_start) & (df['timestamp'] <= tp_end)].copy()
for i in range(df_tmp.shape[0]):
    df_viz = df_viz.append(
        {
            'from': df_tmp.iloc[i, 0] - pd.Timedelta(minutes=timedelta),
            'to': df_tmp.iloc[i, 0] + pd.Timedelta(minutes=timedelta),
            'feature': label,
            'type': ''
        },
        ignore_index=True
    )

              timestamp  ecoli_GA
0   2012-01-02 10:44:00       190
1   2012-01-04 10:32:00       520
2   2012-01-05 09:45:00       530
3   2012-01-09 10:00:00        63
4   2012-01-11 14:27:00       210
..                  ...       ...
923 2019-12-16 11:12:00       320
924 2019-12-18 11:00:00       370
925 2019-12-23 10:15:00        31
926 2019-12-26 12:20:00       130
927 2019-12-30 12:20:00        74

[928 rows x 2 columns]

In [9]:
label = 'ecoli_LAE'
df = pd.read_csv(
    INPUT_DATA_PATH + label + '.csv',
    parse_dates=['timestamp']
)
display(df)

timedelta = 15
df_tmp = df[(df['timestamp'] >= tp_start) & (df['timestamp'] <= tp_end)].copy()
for i in range(df_tmp.shape[0]):
    df_viz = df_viz.append(
        {
            'from': df_tmp.iloc[i, 0] - pd.Timedelta(minutes=timedelta),
            'to': df_tmp.iloc[i, 0] + pd.Timedelta(minutes=timedelta),
            'feature': label,
            'type': ''
        },
        ignore_index=True
    )

               timestamp  ecoli_LAE
0    2012-01-02 09:30:00        220
1    2012-01-04 08:50:00        300
2    2012-01-05 07:00:00        310
3    2012-01-09 08:10:00         74
4    2012-01-11 08:15:00        230
...                  ...        ...
1290 2019-12-20 09:08:00        390
1291 2019-12-23 08:45:00        130
1292 2019-12-26 09:26:00        150
1293 2019-12-27 09:07:00        160
1294 2019-12-30 09:23:00         84

[1295 rows x 2 columns]

In [10]:
label = 'flowrate_GG'
df = pd.read_csv(
    INPUT_DATA_PATH + label + '.csv',
    parse_dates=['timestamp']
)
display(df)

timedelta = 23.5
df_tmp = df[(df['timestamp'] >= tp_start) & (df['timestamp'] + pd.Timedelta(hours=timedelta) <= tp_end)].copy()
for i in range(df_tmp.shape[0]):
    df_viz = df_viz.append(
        {
            'from': df_tmp.iloc[i, 0],
            'to': df_tmp.iloc[i, 0] + pd.Timedelta(hours=timedelta),
            'feature': label,
            'type': 'AVG'
        },
        ignore_index=True
    )

      timestamp  flowrate_GG
0    2012-01-01        217.0
1    2012-01-02        220.0
2    2012-01-03        213.0
3    2012-01-04        196.0
4    2012-01-05        221.0
...         ...          ...
2946        NaT          NaN
2947        NaT          NaN
2948        NaT          NaN
2949        NaT          NaN
2950        NaT          NaN

[2951 rows x 2 columns]

In [11]:
label = 'flowrate_LE'
df = pd.read_csv(
    INPUT_DATA_PATH + label + '.csv',
    parse_dates=['timestamp']
)
display(df)


timedelta = 23.5
df_tmp = df[(df['timestamp'] >= tp_start) & (df['timestamp'] + pd.Timedelta(hours=timedelta) <= tp_end)].copy()
for i in range(df_tmp.shape[0]):

    df_viz = df_viz.append(
        {
            'from': df_tmp.iloc[i, 0],
            'to': df_tmp.iloc[i, 0] + pd.Timedelta(hours=timedelta),
            'feature': label,
            'type': 'AVG'
        },
        ignore_index=True
    )

      timestamp  flowrate_LE
0    2012-01-01        867.0
1    2012-01-02        880.0
2    2012-01-03        853.0
3    2012-01-04        785.0
4    2012-01-05        882.0
...         ...          ...
2946        NaT          NaN
2947        NaT          NaN
2948        NaT          NaN
2949        NaT          NaN
2950        NaT          NaN

[2951 rows x 2 columns]

In [12]:
label = 'precipitation_GBG'
df = pd.read_csv(
    INPUT_DATA_PATH + label + '.csv',
    parse_dates=['timestamp']
)
display(df)

df.index = pd.DatetimeIndex(df['timestamp'])     
df = df.groupby(pd.Grouper(freq = '24H', offset='6H', closed='right')).sum()
df['timestamp'] = df.index

timedelta = 23.5
df_tmp = df[(df['timestamp'] - pd.Timedelta(hours=timedelta) >= tp_start) & (df['timestamp'] <= tp_end)].copy()
for i in range(df_tmp.shape[0]):
    df_viz = df_viz.append(
        {
            'from': df_tmp.iloc[i, 1] - pd.Timedelta(hours=timedelta),
            'to': df_tmp.iloc[i, 1],
            'feature': label,
            'type': 'SUM'
        },
        ignore_index=True
    )

                timestamp  precipitation_GBG qual_precipitation_GBG
0     2012-01-01 00:00:00                0.0                      Y
1     2012-01-01 01:00:00                0.0                      Y
2     2012-01-01 02:00:00                0.0                      Y
3     2012-01-01 03:00:00                0.0                      Y
4     2012-01-01 04:00:00                0.0                      Y
...                   ...                ...                    ...
64916 2019-11-01 02:00:00                0.0                      G
64917 2019-11-01 03:00:00                0.0                      G
64918 2019-11-01 04:00:00                0.0                      G
64919 2019-11-01 05:00:00                0.0                      G
64920 2019-11-01 06:00:00                0.0                      G

[64921 rows x 3 columns]

In [13]:
label = 'precipitation_KR'
df = pd.read_csv(
    INPUT_DATA_PATH + label + '.csv',
    parse_dates=['timestamp']
)
display(df)

timedelta = 23.5
df_tmp = df[(df['timestamp'] - pd.Timedelta(hours=timedelta) >= tp_start) & (df['timestamp'] <= tp_end)].copy()
for i in range(df_tmp.shape[0]):
    df_viz = df_viz.append(
        {
            'from': df_tmp.iloc[i, 0] - pd.Timedelta(hours=timedelta),
            'to': df_tmp.iloc[i, 0],
            'feature': label,
            'type': 'SUM'
        },
        ignore_index=True
    )

               timestamp  precipitation_KR qual_precipitation_KR
0    2012-01-01 06:00:00               0.0                     G
1    2012-01-02 06:00:00              19.1                     G
2    2012-01-03 06:00:00               2.5                     G
3    2012-01-04 06:00:00              28.0                     G
4    2012-01-05 06:00:00               6.4                     G
...                  ...               ...                   ...
2887 2019-11-27 06:00:00              10.9                     G
2888 2019-11-28 06:00:00               9.2                     G
2889 2019-11-29 06:00:00               5.5                     G
2890 2019-11-30 06:00:00               0.0                     G
2891 2019-12-01 06:00:00               0.0                     G

[2892 rows x 3 columns]

In [14]:
label = 'precipitation_VB'
df = pd.read_csv(
    INPUT_DATA_PATH + label + '.csv',
    parse_dates=['timestamp']
)
display(df)

timedelta = 23.5
df_tmp = df[(df['timestamp'] - pd.Timedelta(hours=timedelta) >= tp_start) & (df['timestamp'] <= tp_end)].copy()
for i in range(df_tmp.shape[0]):
    df_viz = df_viz.append(
        {
            'from': df_tmp.iloc[i, 0] - pd.Timedelta(hours=timedelta),
            'to': df_tmp.iloc[i, 0],
            'feature': label,
            'type': 'SUM'
        },
        ignore_index=True
    )

               timestamp  precipitation_VB qual_precipitation_VB
0    2012-01-01 06:00:00               0.0                     G
1    2012-01-02 06:00:00               8.3                     G
2    2012-01-03 06:00:00               3.7                     G
3    2012-01-04 06:00:00              16.9                     G
4    2012-01-05 06:00:00               0.5                     G
...                  ...               ...                   ...
2887 2019-11-27 06:00:00               8.4                     G
2888 2019-11-28 06:00:00               7.5                     G
2889 2019-11-29 06:00:00               9.4                     G
2890 2019-11-30 06:00:00               0.0                     G
2891 2019-12-01 06:00:00               0.0                     G

[2892 rows x 3 columns]

In [15]:
label = 'turb_LAE'
df = pd.read_csv(
    INPUT_DATA_PATH + label + '.csv',
    parse_dates=['timestamp']
)
display(df)

timedelta = 15
df_tmp = df[(df['timestamp'] >= tp_start) & (df['timestamp'] <= tp_end)].copy()
for i in range(df_tmp.shape[0]):
    df_viz = df_viz.append(
        {
            'from': df_tmp.iloc[i, 0] - pd.Timedelta(minutes=timedelta),
            'to': df_tmp.iloc[i, 0] + pd.Timedelta(minutes=timedelta),
            'feature': label,
            'type': ''
        },
        ignore_index=True
    )

               timestamp  turb_LAE
0    2012-01-02 09:30:00       7.1
1    2012-01-04 08:50:00       8.5
2    2012-01-05 07:00:00      31.2
3    2012-01-09 08:10:00       6.1
4    2012-01-11 08:15:00       4.5
...                  ...       ...
1261 2019-12-20 09:08:00      10.0
1262 2019-12-23 08:45:00       6.2
1263 2019-12-26 09:26:00       5.3
1264 2019-12-27 09:07:00       5.4
1265 2019-12-30 09:23:00       7.0

[1266 rows x 2 columns]

In [16]:
label = 'waterTemp_LAE'
df = pd.read_csv(
    INPUT_DATA_PATH + label + '.csv',
    parse_dates=['timestamp']
)
display(df)

timedelta = 15
df_tmp = df[(df['timestamp'] >= tp_start) & (df['timestamp'] <= tp_end)].copy()
for i in range(df_tmp.shape[0]):
    df_viz = df_viz.append(
        {
            'from': df_tmp.iloc[i, 0] - pd.Timedelta(minutes=timedelta),
            'to': df_tmp.iloc[i, 0] + pd.Timedelta(minutes=timedelta),
            'feature': label,
            'type': ''
        },
        ignore_index=True
    )

               timestamp  waterTemp_LAE
0    2012-01-02 09:30:00            4.8
1    2012-01-04 08:50:00            4.9
2    2012-01-05 07:00:00            4.7
3    2012-01-09 08:10:00            3.6
4    2012-01-11 08:15:00            3.8
...                  ...            ...
1430 2019-12-20 12:00:00            4.6
1431 2019-12-23 08:45:00            5.0
1432 2019-12-26 09:26:00            4.6
1433 2019-12-27 09:07:00            4.2
1434 2019-12-30 09:23:00            3.8

[1435 rows x 2 columns]

In [17]:
display(df_viz)

                   from                  to        feature type
0   2012-02-16 15:54:00 2012-02-16 16:24:00    colifast_GA
1   2012-02-17 01:48:00 2012-02-17 02:18:00    colifast_GA
2   2012-02-17 15:48:00 2012-02-17 16:18:00    colifast_GA
3   2012-02-18 01:48:00 2012-02-18 02:18:00    colifast_GA
4   2012-02-18 15:48:00 2012-02-18 16:18:00    colifast_GA
..                  ...                 ...            ...  ...
115 2012-02-15 09:05:00 2012-02-15 09:35:00  waterTemp_LAE
116 2012-02-17 07:45:00 2012-02-17 08:15:00  waterTemp_LAE
117 2012-02-20 09:55:00 2012-02-20 10:25:00  waterTemp_LAE
118 2012-02-22 08:45:00 2012-02-22 09:15:00  waterTemp_LAE
119 2012-02-24 08:30:00 2012-02-24 09:00:00  waterTemp_LAE

[120 rows x 4 columns]

In [18]:
bars = alt.Chart(df_viz).mark_bar().encode(
    x=alt.X('from',
            axis=alt.Axis(
            values=[d.isoformat() for d in pd.date_range(tp_start, freq='1D', periods=11)],
            format="%_d %b %H:%M",
            tickCount=11,
            labelAngle=-45,
            title='Timestamp'
        )
    ),
    x2='to',
    y='feature',
    color=alt.Color('feature', scale=alt.Scale(scheme='dark2'))
).properties(
    width=800,
    height=400
)

text = alt.Chart(df_viz).mark_text(
    align='left',
    baseline='middle',
    dx=20,
    color='white',
    fontWeight='bold'
).encode(
    y='feature',
    x='from',
    text='type',
)

In [19]:
alt.data_transformers.disable_max_rows()

alt.layer(bars, text)

alt.LayerChart(...)

---